<!DOCTYPE html>
<html>
<body style="background-color:red">
	<h2>You have successfully logged in as an author.</h2>
	<form action="./submit_paper/submitpaper.htm">
		<label for="conferencesjoined">Conferences joined:</label>
		<select id="conferencesjoined" name="conferencesjoined">
			<option value="test">Test</option>
		</select>
		<input type="submit" value="Submit a proposal">
	</form>
	<br>
	<form action="./submit_paper/submitpaper.htm">
		<label for="conferencestojoin">Conferences which you can join</label>
		<select id="conferencestojoin" name="conferencestojoin">
			<option value="test">Test</option>
		</select>
		<input type="submit" value="Join conference">
	</form>
	<br>
	<form action="./conferences_accepted/conferences_accepted.htm">
		<label for="conferencesjoined">Conferences in which you have been accepted:</label>
		<select id="conferencesjoined" name="conferencesjoined">
			<option value="test">Test</option>
		</select>
		<input type="submit" value="View proposal options">
	</form>
	<form action="../../gui.htm">
		<input type="submit" value="Log out">
	</form>
</body>
</html>