<!DOCTYPE html>
<html>
<body style="background-color:blue">
	<h2>You have successfully logged in as a listener.</h2>
	<form action="./paid/paid.htm">
		<label for="conferences">Paid conferences:</label>
		<select id="conferences" name="conferences">
			<option value="test">Test</option>
		</select>
		<input type="submit" value="Pay and join">
	</form>
	<br>
	<form action="./paid/details.htm">
		<label for="paidconferences">Joined conferences:</label>
		<select id="paidconferences" name="paidconferences">
			<option value="test">Test</option>
		</select>
		<input type="submit" value="See details">
	</form>
	<br>
	<form action="../../gui.htm">
	</form>
</body>
</html>