<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Management System APP</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/chairClient.js') }}" >
	<script type="text/javascript">
        $SCRIPT_ROOT = {
            {
                request.script_root | tojson | safe
            }
        };
    </script>
</head>
<body>


  	<div class="topnav" >
  	<div class="topnav-right" float: right>
    	<a>User Name:</a>
   		<a id=userName></a>
   		<a id=logOutButt href="#">LogOut</a>
	</div>
	</div>
	
	<h2>You are now logged in as chair/co-chair.</h2>
	<p>Below is a list of the conferences in which you are participating as chair/co-chair</p>
		<label for="chairconferencesjoined">Conferences which you joined: </label>
		<select id="chairconferencelist" name="chairconferencelist">
		</select>
		<input type="button" id="conferenceDetails" value="View conference details">
	<br>
	<input type="button" id="createConf" value="Create Conf">
	<br>
	<form action="../../gui.htm">
	</form>
</body>
</html>