<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Management System APP</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/auth.js') }}" >
	<script type="text/javascript">
        $SCRIPT_ROOT = {
            {
                request.script_root | tojson | safe
            }
        };
    </script>
</head>
<body style="background-color:teal;">
	<h1 style="text-align:center; color:white; font-family:Arial">Welcome to CMS HQ!</h1>
	<div id="msg"></div>
	
    <div id="signupform">
		<h3>Sign up below</h3>
		<label for="usernamesignup">Username: </label>
		<input type="text" id="usernamesignup" name="usernamesignup"  value="" required><br><br>
		<label for="passwordsignup">Password: </label>
		<input type="password" id="passwordsignup" name="passwordsignup" value="" required><br><br>
		<label for="email">E-mail: </label>
		<input type="text" id="email" name="email", value="" required><br><br>
		<label for="affiliation">Affiliation: </label>
		<input type="text" id="affiliation" name="affiliation"value="" required><br><br>
		<input type="button" id="signupSubmit" value="Submit">
	</div>
	<br>
	<br>
	<form>
		<label for="usernamelogin">Username: </label>
		<input type="text" id="usernamelogin" name="usernamelogin" value="" required><br><br>
		<label for="passwordlogin">Password: </label>
		<input type="password" id="passwordlogin" name="passwordlogin" value="" required><br><br>

		<select id="logInAs" name="logInAs">
			<option value="listener">Listener</option>
			<option value="author">Author</option>
			<option value="pcmember">PC member</option>
			<option value="chair">Chair or co-chair</option>
		</select>
		<p>
             <input type="button" id="loginSubmit" value="Submit">
        </p>
	</form>
</body>
