<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/navBar.js') }}" />
    <script type="text/javascript">
        $SCRIPT_ROOT = {
            {
                request.script_root | tojson | safe
            }
        };
    </script>
</head>

<body>

  <div class="topnav" >
  <div class="topnav-right" float: right>
    <a>User Name:</a>
    <a id=userName></a>
    <a id=logOutButt href="#">LogOut</a>
  </div>
</div>

</body>

</html>